h1{
    font-size: 35px;
}
body{
  display:flex
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}
    
li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #555;
  color: white;
}

.menu{
  border:solid 3px;
  width:200px;
}

.main_content{
  margin-left:10px;
  text-align: center;  
}
.gaiyou{
  border:solid 3px;
  width: 500px;
  height:700px;
}